div.content-dialog p{
    text-align: justify;
}

ul.links-reference {
    text-align: right;
}
ul.links-reference.right-link li::before {
    content: "\21AB";  /* ↫ */
}
ul.links-reference.left-link li::before {
    content: "\21AC";  /* ↬ */
}
ul.links-reference.right-link li::before , ul.links-reference.left-link li::before {
    color: var(--color-red);
    font-size: 1.3rem;
    font-weight: bold;
    display: inline-block;
    width: 2em;
}
ul.links-reference.left-link {
    text-align: left;
    direction: ltr;
}
ul.links-reference li {
    padding: 0.2rem 0;
}
@media screen and (max-width: 456px) {
    ul.links-reference.right-link li::before , ul.links-reference.left-link li::before {
        content: "";
        font-weight: unset;
        display: unset;
        width: unset;
    }
    ul.links-reference li {
        border-bottom: 1px solid gray;
    }
}

ul.links-reference li a {
    color: blue;
}
ul.links-reference li a:hover {
    color: #ff0080;
    font-weight: 900;
}
