@import "Constant.css";

/* Style Header & Footer */

#Head-Sec , #Foot-Sec {
    background-color: var(--background-main);
    color: var(--color-main);
    padding: 1.3rem 0 1.3rem;
    text-align: center;
}
#Head-Sec li , #Foot-Sec li {
    display: inline;
    padding: 0 2rem;
    color: pink;
    font-weight: 300;
}

#Head-Sec div#Wrapper-Phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#Wrapper-Phone #list-phone {
    width: 100vw;
    height: 100vh;
    background: var(--background-main);
    position: fixed;
    top: -50rem;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999 !important;
    transition: all 1.2s;
}
#Wrapper-Phone #list-phone ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
}
#Head-Sec li:hover , #Foot-Sec li:hover {
    color: white;
    font-weight: 500;
}
div#Wrapper {
    display: flex;
    align-items: center;
}
#Foot-Sec div:first-child {
    margin-bottom: 1.5rem;
}
#Foot-Sec h4 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#Foot-Sec h4 > span:first-child {
    margin-left: .8rem;
}
div.menu li{
    font-size: .8rem;
    padding: 1px !important;
}

/* Between Part */
hr.between {
    border: rgba(253, 62, 62, 0.18) solid 1px;
}
section.between {
    margin: 3rem 0 1rem;
}
section.between h2 {
    position: relative;
    top: -1.2rem;
    background-color: var(--background-main);
    display: inline;
    color: var(--color-main);
    border: rgba(255, 255, 255, 0.47) 1px solid;
    padding: .2rem .5rem;
    border-radius: 10px;
    font-size: 16px;
}