/* Variable */
:root {
    --background-main: rgb(20, 15, 42);
    --background-role: rgba(136, 142, 174, 0.4);
    --color-main: white;
}
body {
    overflow-x: hidden;
}
/* Style HEAD */
#Head-Sec {
    background-color: var(--background-main);
    color: var(--color-main);
    padding: 3rem 0;
    text-align: center;
}
#Head-Sec li {
    display: inline;
    padding: 0 2rem;
    color: pink;
}
#Head-Sec li:hover {
    color: white;
    font-weight: 500;
}


/* Style index.php */
#Top-Sec {
    background-color: var(--background-main);
    color: var(--color-main);
    text-align: center;
    margin-bottom: 0;
}
.Header {
    padding: 3rem 0 .5rem;
}
.Header h1 {
    font-size: 3.2rem;
    background: linear-gradient(
            180deg,
            white, red
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
hr.between {
    border: rgba(253, 62, 62, 0.18) solid 1px;
}
section.between {
    margin: 3rem 0 1rem;
}
section.between h2 {
    position: relative;
    top: -1.2rem;
    background-color: var(--background-main);
    display: inline;
    color: var(--color-main);
    border: rgba(255, 255, 255, 0.47) 1px solid;
    padding: .2rem .5rem;
    border-radius: 10px;
    font-size: 16px;
}
div#role {
    /*padding: 1rem;*/
}
div#role a{
    padding: .3rem 0 ;
    width: 100%;
    display: inline-table;
    background-color: var(--background-role);
    border-radius: .3rem;
    border: transparent solid 1px;
}
div#role a:hover{
    border: white solid 1px;
    cursor: pointer;
}