/* Style For index.php (All Of RoadMaps Page) */
svg text tspan{
    font-family: Lalezar , serif;
}
g.clickable-group {
    cursor: pointer;
}
g.clickable-group:hover :not(circle) {
    filter: hue-rotate(216deg);;
}
/*Scroll*/
dialog::-webkit-scrollbar {
    width: .7rem;
}
dialog::-webkit-scrollbar-track {
    background-color: var(--background-main);
}
dialog::-webkit-scrollbar-thumb {
    background-color: var(--background-role);
    border-radius: 1rem;
}
dialog::-webkit-scrollbar-thumb:hover {
    background: #555;
}

dialog {
    max-width: 85%;
    max-height: 65%;
    position: fixed;
    top: 20%;
    margin: auto;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    border: gray solid 1px;
    display: none;
    border-radius: 0 1.3rem 1.3rem 0;
    box-shadow: 0 0 7px black;
    padding: 5% 5% 2%;
}
dialog button {
    border-radius: 50%;
    padding: .7rem;
    background-color: var(--color-red);
    color: var(--color-main);
    border: none;
    cursor: pointer;
    transition: all .5s;
}
dialog button.close_up_btn {
    position: absolute;
    padding: 1rem;
    top: 5%;
    right: 5%;
    font-weight: 900;
}
dialog button.close_down_btn {
    background-color: var(--background-main);
    margin: 2rem auto 0;
}
dialog button:hover {
    background-color: black;
}