body {
    overflow-x: hidden;
}
section.subject {
    padding: 2rem 2rem;
}
section.subject div.options a {
    background-color: gray;
    padding: .5rem;
    border-radius: .6rem;
    font-size: .9rem;
    color: white;
}
section.subject div.options a:hover {
    background-color: #4c4c4c;
}
svg text tspan{
    font-family: Lalezar , serif;
}
g.clickable-group {
    cursor: pointer;
}
g.clickable-group:hover :not(circle) {
    filter: hue-rotate(216deg);;
}
/*Scroll*/
dialog::-webkit-scrollbar {
    width: .7rem;
}
dialog::-webkit-scrollbar-track {
    background-color: var(--background-main);
}
dialog::-webkit-scrollbar-thumb {
    background-color: var(--background-role);
    border-radius: 1rem;
}
dialog::-webkit-scrollbar-thumb:hover {
    background: #555;
}

dialog {
    max-width: 85%;
    max-height: 65%;
    position: fixed;
    top: 20%;
    margin: auto;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    border: gray solid 1px;
    display: none;
    border-radius: 0 1.3rem 1.3rem 0;
    box-shadow: 0 0 7px black;
    padding: 5%;
}
dialog button {
    position: absolute;
    top: 5%;
    right: 5%;
    border-radius: 50%;
    padding: .7rem;
    background-color: #ff1313;
    color: white;
    border: none;
    cursor: pointer;
    transition: all .5s;
}
dialog button:hover {
    background-color: black;
}

ul.links-reference {
    text-align: right;
}
ul.links-reference li::before {
    content: "\1F894";
    color: red;
    font-size: 1.3rem;
    font-weight: bold;
    display: inline-block;
    width: 2em;
}
ul.links-reference li a {
    color: blue;
}
ul.links-reference li a:hover {
    color: #ff0080;
    font-weight: 900;
}
