/* Style For index.php (All Of RoadMaps Page) */
svg text tspan{
    font-family: Lalezar , serif;
}
g.clickable-group {
    cursor: pointer;
}
g.clickable-group:hover :not(circle) {
    filter: hue-rotate(216deg);;
}
